### Combine the resulted data frames with functional groups, the presence of a functional group in a compound and the relevent lable for the compound. 
### Display the functional groups that have participate in compoounds that have been identified as TTR transcriptor activator.

In [1]:
import pandas as pd
import numpy as np

# Upload data frames 
df1 = pd.read_csv('functional_groups_from_df1.csv', index_col=[0])
df2 = pd.read_csv('functional_groups_from_df2.csv', index_col=[0])
df3 = pd.read_csv('functional_groups_from_df3.csv', index_col=[0])
df4 = pd.read_csv('functional_groups_from_df4.csv', index_col=[0])

# Create a list with the data frames 
list_of_dataframes = [df1, df2, df3, df4]

# Concatenate the data frames 
combined_df = pd.concat(list_of_dataframes, ignore_index=True)

# Display the data frame
print(combined_df.shape)
combined_df.head()

(267, 4)

C:\Users\ivano\AppData\Local\Temp\ipykernel_27856\3028164005.py:14: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  combined_df = pd.concat(list_of_dataframes, ignore_index=True)

             column  proportion count_target_one count_target_zero
0  hexahydroazuleno       100.0                5                 0
1  dioxonaphthalene       100.0                5                 0
2           ynamide       100.0                4                 0
3           oxirane       100.0                4                 0
4      pyrazolidine       100.0                4                 0

In [2]:
# Find similar rows in 'column' 
group_by_column = 'column'

# Define the aggregations, specifying the aggregations
summarized_values = combined_df.groupby(group_by_column).agg(
    Count_target_1=('count_target_one', 'sum'),           # Sum of target 1 for each Analyzed_Column
    Count_target_0=('count_target_zero', 'sum'),          # Sum of target 2 for each Analyzed_Column
)

# Organise a descending order 
df_sorted_desc = summarized_values.sort_values(by='Count_target_1', ascending=False)

# Display the result 
print(f"\nSummarized DataFrame by '{group_by_column}':")
print(df_sorted_desc.shape)
print(df_sorted_desc.head(30))

Summarized DataFrame by 'column':
(267, 2)
                                  Count_target_1 Count_target_0
column
hexahydroazuleno                               5              0
dioxonaphthalene                               5              0
ynamide                                        4              0
oxirane                                        4              0
pyrazolidine                                   4              0
benzothiatriazine                              3              0
dibutoxyphosphoryl                             3              0
tetracos                                       3              0
hydroxyiminofluorene                           3              0
dimethylbenzenesulfonate                       3              0
propylsulfanylpurine                           3              0
hexadecylpyridin                               3              0
dipentylphenoxy                                3              0
phenylpropylsulfanyl                           3              0
enylbenzaldehyde                               3              0
dicyclohexyloxyphosphorylmethanol              2              0
phenylimidazole                                2              0
oxooxolane                                     2              0
phenylhexa                                     2              0
phenyliminoprop                                2              0
diphenylhexane                                 2              0
tetrachlorocyclopenta                          2              0
dichloropyridazin                              2              0
sulfonylpropyl                                 2              0
enylquinolin                                   2              0
enylsulfanylbenzimidazol                       2              0
pentafluorobenzoyl                             2              0
ethylsulfanylspiro                             2              0
dihydrotriazolo                                2              0
silyl                                          2              0

In [5]:
df1 = pd.read_csv('df1_for_final.csv', index_col=[0])
df2 = pd.read_csv('df2_for_final.csv', index_col=[0])
df3 = pd.read_csv('df3_for_final.csv', index_col=[0])
df4 = pd.read_csv('df4_for_final.csv', index_col=[0])

# Create a list with the data frames 
df = [df1, df2, df3, df4]

# Concatenate the data frames 
df = pd.concat(df, ignore_index=True)

# Display the data frame
print(df.shape)
df.head()

(218083, 7721)

,UPAC,target,index,acenaphthylene,acenaphthyleno,acetamide,acetamido,acetamidoacetate,acetamidoacetyl,acetamidoadamantane,...,ynylpiperazine,ynylpurin,ynylpurine,ynylpyridin,ynylpyrrolidin,ynylquinazolin,ynylsulfanylbenzimidazol,ynylsulfanylpyrimidine,ynylurea,zinc
0,"[2-[1-(2-methoxyethyl)-2,5-dimethylpyrrol-3-yl...",0,0,0.0,0,0,0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4-methyl-N-[[[2-(2-methylphenoxy)acetyl]amino]...,1,1,0.0,0,0,0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3-(4-methoxyphenyl)-5-phenylcyclohex-2-en-1-one,0,2,0.0,0,0,0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,(2Z)-2-(thiophen-2-ylmethylidene)-1-benzothiop...,0,3,0.0,0,0,0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2-[4-(4-methylbenzoyl)piperidin-1-yl]-N-(4-met...,0,4,0.0,0,1,0,0,0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Define the columns and the condition
column_to_get_value = 'UPAC'              # The column from which the values will be retreaved 
column_with_condition = 'hexahydroazuleno'  # The column to check if its value is 1
condition_value = 1                       # The specific value (1) 

# Filter the DataFrame and select the desired column
# This operation first filters the rows where 'is_active' is 1,
# Then selects the 'item_name' from those filtered rows.
result_series = df[df[column_with_condition] == condition_value][column_to_get_value]

# Print the result(s)
# print(f"Values in '{column_to_get_value}' where '{column_with_condition}' is '{condition_value}':")

if not result_series.empty:
    for value in result_series:
        print(value)
    # Alternatively, print as a list:
        # print(result_series.tolist())
else:
    print("No rows found where the condition is met.")

print("-" * 40)

[(3aR,5R,5aR,8aR,9S,9aR)-5,8a-dimethyl-1-methylidene-2,8-dioxo-3a,4,5,5a,9,9a-hexahydroazuleno[6,5-b]furan-9-yl] acetate
[6-acetyloxy-4-butanoyloxy-3,3a-dihydroxy-3,6,9-trimethyl-8-[(E)-2-methylbut-2-enoyl]oxy-2-oxo-4,5,6a,7,8,9b-hexahydroazuleno[4,5-b]furan-7-yl] hexanoate
(3aS,5R,5aR,8aS,9aR)-5,8a-dimethyl-1-methylidene-3a,4,5,5a,9,9a-hexahydroazuleno[6,7-b]furan-2,8-dione
(3aR,5R,5aR,8aR,9S,9aS)-9-hydroxy-5,8a-dimethyl-1-methylidene-3a,4,5,5a,9,9a-hexahydroazuleno[6,7-b]furan-2,8-dione
bis[(3aR,5R,5aR,8aR,9S,9aR)-5,8a-dimethyl-1-methylidene-2,8-dioxo-3a,4,5,5a,9,9a-hexahydroazuleno[6,5-b]furan-9-yl] propanedioate
(3S,3aS,9aS,9bS)-3,6,9-trimethyl-3,3a,4,5,9a,9b-hexahydroazuleno[4,5-b]furan-2,7-dione
[(3S,3aR,4S,6S,6aR,7S,8S,9bS)-6-acetyloxy-4-butanoyloxy-3,3a-dihydroxy-3,6,9-trimethyl-8-[(Z)-2-methylbut-2-enoyl]oxy-2-oxo-4,5,6a,7,8,9b-hexahydroazuleno[4,5-b]furan-7-yl] octanoate
4-hydroxy-3,6,9-trimethyl-3,3a,4,5,9a,9b-hexahydroazuleno[4,5-b]furan-2,7-dione;hydrate
4-[4-[[4-cyclopentyl-3-(2-hydroxyethyl)piperazin-1-yl]methyl]phenyl]-2-methylbut-3-yn-2-ol
----------------------------------------